<div class="all-bold">
    <p>Nice to meet you <%= @ticket.user_name %>!</p>
    <p>
    We reserved your ticket for <%= @reservation_time %> minutes
    <br>
    Please complete the purchase using a test credit card
    </p>
</div>

<button id="pay-btn" class="btn btn-primary" data-checkout-session-id="<%= @ticket.checkout_session_id %>" onclick="redirectToCheckout(this)">Pay</button>
