<section class="jumbotron">
  <h1>Naive Dice</h1>
</section>

<%= if length(@events) > 0 do %>
  <p>Start the booking flow:</p>
  <%= for event <- @events do %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">"<%= event.title %>"</h5>
        <a href=<%= Routes.event_path(@conn, :show, event.id) %> class="btn btn-primary">Book now</a>
      </div>
    </div>
  <% end %>
<% else %>
  <p>There are no events in the database</p>
<% end %>
