<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NaiveDice · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body class="bg-light">
    <div role="main" class="container">
      <%= show_flash(@conn) %>
      <br>
      <br>
      <br>
      <%= render @view_module, @view_template, assigns %>
      <br>
      <br>
      <br>
      <%= if @conn.request_path != "/" do %>
        <%= back_to_root_link() %>
      <% end %>
    </div>
    <script type="text/javascript">
      const STRIPE_API_KEY='<%= Application.get_env(:naive_dice, Stripe)[:public_key] %>';
    </script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script src="https://js.stripe.com/v3/"></script>

  </body>
</html>
